In [1]:
import src.acquire
import src.prepare
import src.explore
import src.model

In [2]:
path='zillow_df.csv'

df, X_train_explore, \
    X_train_scaled, y_train, \
    X_validate_scaled, y_validate, \
    X_test_scaled, y_test = src.prepare.wrangle_zillow(path)

X_train_explore.shape, X_validate_scaled.shape, X_test_scaled.shape

((11666, 14), (5000, 12), (4167, 12))

In [3]:
X_train_explore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11666 entries, 18116 to 5082
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    11666 non-null  int64
 1   bathroomcnt                   11666 non-null  float64
 2   bedroomcnt                    11666 non-null  float64
 3   calculatedfinishedsquarefeet  11666 non-null  float64
 4   fireplace                     11666 non-null  float64
 5   garage                        11666 non-null  float64
 6   hottub_spa                    11666 non-null  float64
 7   lotsizesquarefeet             11666 non-null  float64
 8   poolcnt                       11666 non-null  float64
 9   roomcnt                       11666 non-null  float64
 10  yearbuilt                     11666 non-null  float64
 11  id.1                          11666 non-null  int64
 12  zip                           11666 non-null  category
 13  useid                         11666 non-null  category
dtypes: category(2), float64(10), int64(2)
memory usage: 1.2 MB

## Notes

1. I already uploaded my env.py file so need need to upload yours.  We only need one to access the data.


2. I already uploaded a .gitignore so also no worries there


3. Data is ready to go, i want to engeneer a feature that combines bed and bath, but get a weird error when I try.    we can trouble shoot after mvp, but code can be found in .prepare file


4. I want to leave 2 categorical variables after transforming them to numeric but I also need help with that
   - "regionidzip"
   - "propertylandusetypeid"
   - They need to be made in to categories before we can do any testing on them (Cat to Numeric)


5. id.1 and Unmaed:0 showd up we also need to delete them